Checks: >
  -*,
  readability-identifier-naming

CheckOptions:
  - { key: readability-identifier-naming.NamespaceCase, value: CamelCase }
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumCase, value: CamelCase }
  - { key: readability-identifier-naming.EnumConstantCase, value: lowerCamelCase }

  - { key: readability-identifier-naming.GlobalVariableCase, value: lowerCamelCase }
  - { key: readability-identifier-naming.VariableCase, value: lowerCamelCase }

  - { key: readability-identifier-naming.ClassMemberCase, value: lowerCamelCase }
  - { key: readability-identifier-naming.ClassMemberPrefix, value: "_" }

  - { key: readability-identifier-naming.PrivateMemberCase, value: lowerCamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: "_" }
  - { key: readability-identifier-naming.ProtectedMemberCase, value: lowerCamelCase }
  - { key: readability-identifier-naming.ProtectedMemberPrefix, value: "_" }

  - { key: readability-identifier-naming.PublicMemberCase, value: lowerCamelCase }

  - { key: readability-identifier-naming.PublicMethodCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMethodCase, value: lowerCamelCase }
  - { key: readability-identifier-naming.ProtectedMethodCase, value: lowerCamelCase }

  - { key: readability-identifier-naming.MacroDefinitionCase, value: UPPER_CASE }

  - { key: readability-identifier-naming.ParameterCase, value: lowerCamelCase }
  - { key: readability-identifier-naming.LocalVariableCase, value: lowerCamelCase }
